    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --green: #739E6F;
    --black: #4D4D4D;
    --white: #EFECDD;
    --lightgreen: #BBD6B8;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/background.png");
    background-size: cover;
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: var(--white);
    padding: 25px 30px;
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 10px 12px 40px var(--black);
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    line-height: 21px;
    color: var(--black);
    position: relative;
    padding-top: 20px;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #CCC;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.8s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: var(--green);
}

form .button{
    height: 45px;
    margin: 45px 0;   
}

form .button input{
    width: 40rem;    
    display: flex;
    height: 3.3rem;
    justify-content: center ;    
    align-items: center;
    outline: none;
    color: var(--black);
    border: 1px solid black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    background-color: var(--green);
    border-radius: 12px;
}

form .button input:hover{
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: var(--lightgreen);
}

@media(max-width:672px){ 
    form .button input{
        width: 33rem;
        transition:.5s ease  ;
    }
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form  .button input{
        width: 28rem;
    }

    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 0;
    }

}

@media (max-width:508px){
    form .button input{
        width: 23rem;
    }
}

@media (max-width:458px) {
    form .button input{
        width: 19rem;
    }
}