*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --green: #739E6F;
    --black: #4D4D4D;
    --white: #EFECDD;
}

body{    
    background-color: #BBD6B8;
    overflow-y: hidden;
}

.navigation{
    float: right;
    display: flex;
    align-items: center;
    padding: 18px 40px;
}

.navigation ul{
    display: flex;
    align-items: center;
}

.navigation ul li a{
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s;   
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}

.navigation ul li a:hover{
    color: var(--white);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.home-text{
    max-width: 37rem;
    margin-top: -6rem;
}

.home-text .title{
    font-size: 4rem;
    margin-bottom: 0.5rem;
    line-height: 4rem;
    font-family: 'Capuche Trial';
    color: var(--black);
}


.home-text .title span{
    color: var(--green);
    font-family: 'Capuche Trial';
}

.home-text .subtitle{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--green);
}

.home-text .content{
    font-size: 1.5rem;
    margin-bottom: 4rem;
    font-family: 'Poppins', sans-serif;
}

.home-img{
    width: 50%;
    margin-top: -10.2rem;
}

.home-btn{
    padding: 15px 20px;
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    border-radius: 12px;
    font-weight: 700;
    font-size: 20px;

    transition: all 0.5s;
}

.home-btn:hover{
    background-color: var(--green);
}

@media (max-width:750px){
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        gap: 5rem;
        overflow-y: scroll;
    }

    .home .subtitle{
        font-size: 15px;   
    }

    .home .title{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home-btn{
        position: relative;
    }

    .home p{
        font-size: 15px;
    }

    .home-img{
        width: auto;
    }

}

