@import url('https://fonts.googleapis.com/css2?family=Nunito:wgh@200;300;400;600&display=swap');

:root{
    --green:#739E6F;
}


*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

::selection{
    background: var(--green);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1.4rem; 
}

html::-webkit-scrollbar-track{
    background-color: #bcd6b9;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--green);
}

body{
    background-color: #bcd6b9;
    overflow: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding: 1rem;
}

#menu{
    color: black;
    font-size: 3rem;
}

.btn{
    padding: .7rem 3rem;
    background-color: #739E6F;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background-color: #fff;
    color: #739E6F;  
    transform: scale(1.1);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .3rem solid #fff4;
    color: #fff;

}

.heading span {
    color: var(--green);
}


header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #739E6F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--green);
    background: url(../images/perfil.jpg);
}

header .user .name{
    font-size: 3.5rem;
    color: #fff;
    padding: 0 0 7rem 0;
}

header .user .post{
    font-size: 2rem;
    color: #eee;
    padding: 7rem 0 0 0;
}

header .navbar{
    width: 80%;
    text-decoration: none;
}

header .navbar .ul{
    list-style: none;
    padding:1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1.2rem;
    margin: 1.8rem 0;
    background-color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a{
    color: #000;
}


header .navbar ul li a:hover{
    background:#bcd6b9;
}

#menu{
    position: fixed;
    top: 2rem; right: 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 2.rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding:0 15rem;
    }

.home h3{
    font-size: 2.5rem;
    color: #fff;

}

.home h1{
    font-size: 5rem;
    color: #fff;
}

.home h1 span{
    color: #739E6F;
}


.home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex: 1 1 48rem;
    padding: 2 rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color: var(--green);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color: #eee;
    padding:0 .5rem;

}

.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width: 25rem;
    background-color: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: var(--green);
}

#subtitle{
    margin-top: 0;
}

.about .row .counter .box h3{
font-size: 2rem;
margin-top: 2rem;
color: #fff;
}

#title{
    margin-top: 2rem;
}

.resultado h1{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 3.7rem;
    color: #4D4D4D;
}

.palmeiras{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: var(--green);
    font-weight: 700;
}

.emissao{
    margin-top: 8rem;
}

/* media queries */
@media (max-width: 1200px){
    
    html{
        font-size: 55%;
    }

    .home{
        padding: 1rem 4rem;
    }

}

@media (max-width: 991px){
    
    header{
        left: -120%;
    }

    #menu {
        display: block;

    }   

    header.toggle{
        left: 0%;
    }

    body{
        padding: 0;
    }

}

@media (max-width: 756px){
    
    html{
        font-size: 50%;
    }
}

@media (max-width: 400px){
    
    header{
        width: 100vw;
    }

    .heading{
        margin: 0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
}