* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-100: #F4FAFA;
    --primary-300: #DFEBEB;
    --text-color: #10131C;
    --white: #EFECDD;
    --black: #4D4D4D;
    --lightgreen: #BBD6B8;
    --green: #739E6F;
  
    font-size: 62.5%;
  }
  
  a {
    color: var(--text-color);
  }
  
  body {
    background-image: url("/assets/images/background.png");
    background-size: cover;
    color: var(--text-color);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  body * {
    font-family: 'Poppins', sans-serif;
  }
  
  form {
    background-color: var(--white);
    max-width: 700px;
    width: min(73rem, 87%);
    margin: auto;
    padding: 25px 30px;
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 10px 12px 40px var(--black)
  }
  
  form * {
    font-size: 1.4rem;
  }
  
  fieldset {
    border: 0;
  }
  
  fieldset legend {
    font-size: 3.2rem;
    font-family: "Libre Baskerville", serif;
  }  

  h1{
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    color: var(--black);
  }

  .title h1{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
  }

    span{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: var(--green);
  }

  #veja-mais input{
    height: 6rem;
    width: 100%;
    border-radius: 14px;
    padding-left: 15px;
    font-size: 16px;
    background-color: #739E6F;
    border: 1px solid black;
    color: #4D4D4D;
    margin-top: 2.5rem;
  }

  #veja-mais input:hover{
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: var(--lightgreen);
  }