@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
}

:root {
    --border: .1rem solid rgba(255, 255, 255, .3)
}

.logo {
    width: 25rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: #bcd6b9;

}

.header {
    background: #fffef9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .navbar a {
    margin: 1.3rem;
    font-size: 1.8rem;
    color: #8e8c8c;
}



.header .navbar a:hover {
    color: #739E6F;
    border-bottom: .1rem solid #739E6F;
    padding-bottom: .5rem;
}


.header .navbar i {
    font-size: 1.8rem;
    color: #fff;
    border: 1px solid black;
    padding: 10px 0 10px 0;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: #739E6F;
}

#menu-btn {
    display: none;
    color: #4D4D4D;
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: #bcd6b9;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    width: 100%;
    margin-top: 1.5rem;
    height: 50vh;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .title span {
    color: #739E6F;
}

.content-section .content h3 {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
    font-size: 21px;
}

.content-section .content p {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    line-height: 1, 5;
}

.content-section .content .button {
    margin-top: 30px;
}

.content-section .content .button a {
    background-color: #739E6F;
    padding: 12px 40px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #4D4D4D;
    font-size: 17px;
    letter-spacing: 1.5;
    border-radius: 16px;
}

.content-section .content .button a:hover {
    background-color: #4D4D4D;
    color: #fff;
    transform: scale(1.5);
}

@media screen and (max-width:768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content-section .title{
        text-align: center;
        font-size: 20px;
        margin-top: 5rem;
    }

    .content-section .content .button{
        text-align: center;
        margin-bottom: 20px;
    }

    .content-section .content .button a{
        padding: 9px 30px;
    }
}

/* RESPONSIVIDADE */

@media (max-width:1035px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:819px) {

    #menu-btn {
        display: inline-block;
        color: #4D4D4D;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 8rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: #4D4D4D;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }
}